<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
      <a class="navbar-brand" href="#">
        Ensemble <img class="mx-2" src="..//../assets/logo.svg" width="21.45" height="23.68" alt="" />
        <a class="d-flex githubEnsembleUI align-items-center" target="_blank"
          href="https://github.com/EnsembleUI/ensemble">
          <img class="mx-3" src="..//../assets/githubStarCount.svg" alt="" /> <span id="start-count"
            class="githubStarCount"></span>
        </a>
      </a>
<div class="d-flex gap-2">
  <button class="startBtn start-btn-md-sm" href="">Start for free</button>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

    </div>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Docs</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Community</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      </ul>
      <div class="d-flex gap-2 align-items-center"><a class="mx-2 link-text nav-link" href=""
          style="cursor: pointer;">Log in</a> <button class="startBtn start-btn-lg" href="">Start for free</button></div>
    </div>
  </div>
</nav>
<section class="container-fluid"
  style="background: linear-gradient(158.69deg, #171923 29.4%, #006b6b 91.9%, #006b52 102.92%);">
  <!-- <div class="box"> <h1 class="primary-header">No-code solution for your most demanding apps </h1> <h2 class="seondary-heading">Effortlessly prototype, build, publish, and iterate web and native apps without leaving your browser </h2> </div> -->
  <h1 class="main-heading py-5"><span>No-code solution </span> for your most demanding apps</h1>
  <h3 class="seondary-heading">Effortlessly prototype, build, publish, and iterate web and native apps without leaving
    your browser</h3>
  <div class="row justify-content-center gap-3">
    <button class="startBtn mt-2" style="width: 211px;" href="/">Start for free today</button>
    <div class="d-flex align-items-center gap-2 justify-content-center">
      <a class="link-text" href="">Schedule a Demo <img src="..//../assets/arrow.svg" alt="" /></a>
    </div>
  </div>
  <div class="screen"><img class="pt-5" src="..//../assets/Screen.svg"
      style="width: 90%; text-align: center; z-index: 9;" alt="" /></div>
  <div class="trustedBy py-3">
    <h4 class="trustedBy-heading py-4">Trusted By</h4>
    <div class="row gap-3 py-5">
      <img class="img-fluid" src="..//../assets/TrustedBy/eTip.svg" alt="" />
      <img class="img-fluid" src="..//../assets/TrustedBy/tin.svg" alt="" />
      <img class="img-fluid" src="..//../assets/TrustedBy/kpn.svg" alt="" />
      <img class="img-fluid" src="..//../assets/TrustedBy/ceredian.svg" alt="" />
      <img class="img-fluid" src="..//../assets/TrustedBy/my place.svg" alt="" />
      <!-- <div class="">
        <swiper class="" [config]="configPartners" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()">
          <ng-template swiperSlide>

            <img class="img-fluid" src="..//../assets/TrustedBy/eTip.svg" alt="" />


          </ng-template>
          <ng-template swiperSlide>

            <img class="img-fluid Flow-img" src="..//../assets/TrustedBy/tin.svg" alt="" />

          </ng-template>
          <ng-template swiperSlide>

            <img class="img-fluid Flow-img" src="..//../assets/TrustedBy/kpn.svg" alt="" />

          </ng-template>
          <ng-template swiperSlide>

            <img class="img-fluid Flow-img" src="..//../assets/TrustedBy/ceredian.svg" alt="" />

          </ng-template>
          <ng-template swiperSlide>

            <img class="img-fluid Flow-img" src="..//../assets/TrustedBy/my place.svg" alt="" />

          </ng-template>

          <span slot="wrapper-end"></span>

        </swiper>
      </div> -->
    </div>


  </div>
  <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 439.svg"
    style="position: absolute; left: 78%; top: 140%;" alt="" />
  <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 440.svg"
    style="position: absolute; left: 15%; top: 76%;" alt="" />
  <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 446.svg"
    style="position: absolute; top: 170%; left: 5.5%;" alt="" />
</section>
<section style="background: rgba(23, 25, 35, 1);">
  <div class="container">
    <h1 class="main-heading py-5">Built with Ensemble</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-12 py-5">
        <img src="..//../assets/Seth Pelletier.svg" alt="" /> <img src="..//../assets/commas.svg"
          style="position: relative; top: 45px; right: 130px;" alt="" />
        <p class="review">
          With Ensemble, we were able to <strong> rapidly develop and iterate on our app </strong>
          without significant involvement from our internal dev team..
        </p>
        <div class="row">
          <h4 class="reviewer-name">Seth Pelletier</h4>
          <h5 class="reviewer-designation">Director, product Management <strong>&#64;Ceredian</strong></h5>
        </div>
        <div class="d-flex gap-3 py-3"><img class="online-store" src="..//../assets/Online Store/AppStore.svg" alt="" />
          <img class="online-store" src="..//../assets/Online Store/GooglePlay.svg" alt="" /></div>
      </div>
      <div class="col-lg-6 md-col-6 col-sm-12 d-flex justify-content-center">
        <img class="img-fluid" src="..//../assets/mockup.svg" alt="" /> <img class="img-fluid Ellipse"
          src="..//../assets/Ellipses/Ellipse 440.svg" style="position: absolute; top: 320%; left: 78%;" alt="" />
        <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 442.svg"
          style="position: absolute; top: 263%; left: 48%;" alt="" />
      </div>
    </div>
    <div class="row my-3 col-12">
      <div class="col-lg-6 md-col-6 col-sm-12 d-flex justify-content-center">
        <img class="img-fluid" src="..//../assets/mockup-1.svg" alt="" /> <img class="img-fluid Ellipse"
          src="..//../assets/Ellipses/Ellipse 440.svg" style="position: absolute; top: 428%; left: 4%;" alt="" />
        <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 442.svg"
          style="position: absolute; top: 368%; left: 35%;" alt="" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 py-5">
        <img src="..//../assets/Seth Pelletier.svg" alt="" /> <img src="..//../assets/commas.svg"
          style="position: relative; top: 45px; right: 130px;" alt="" />
        <p class="review">
          With Ensemble, we were able to <strong> rapidly develop and iterate on our app </strong>
          without significant involvement from our internal dev team..
        </p>
        <div class="row">
          <h4 class="reviewer-name">Seth Pelletier</h4>
          <h5 class="reviewer-designation">Director, product Management &#64;Ceredian</h5>
        </div>
        <div class="d-flex gap-3 py-3"><img class="online-store" src="..//../assets/Online Store/AppStore.svg" alt="" />
          <img class="online-store" src="..//../assets/Online Store/GooglePlay.svg" alt="" /></div>
      </div>
    </div>
  </div>
</section>
<section class="Explore py-3">
  <div class="container-fluid">
    <h5 class="heading-small">Try out a demo</h5>
    <h1 class="main-heading pb-5">Explore building with Ensemble</h1>
    <div class="row">
      <div class="col-lg-6 md-col-6 col-sm-12">
        <img class="img-fluid" src="..//../assets/Explore-rectangle.svg" style="position: absolute;" alt="" />
        <img class="img-fluid app-screen" src="..//../assets/Explore.svg"alt="" />
        <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 440.svg"
          style="position: absolute; top: 559%; left: 4%; filter: blur(2px);" alt="" />
        <img class="img-fluid Ellipse" src="..//../assets/Ellipses/Ellipse 443.svg"
          style="position: absolute; top: 515%; left: 15%; filter: blur(2px);" alt="" />
      </div>
      <div class="apps-exp col-lg-6 md-col-6 col-sm-12">
        <div class="box box1">
          <div class="boxes">
            <h2 class="Explore-temp-active">Memory App</h2>
            <p class="Explore-description">An exploration of a modern memory app that helps people capture their most
              precious memories.</p>
            <div class="btns">
              <div class="btn-and-link gap-3">
                <button class="startBtn">Clone app</button>
                <div class="d-flex align-items-center gap-2 justify-content-center">
                  <a class="try-link" style="animation: animate 0.5s infinite;" href=""> Try on your device </a> <img
                    src="..//../assets/arrow.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box2">
          <div class="boxes">
            <h2 class="Explore-temp-active">Weather App</h2>
            <p class="Explore-description">The app provides real-time updates and personalized insights at your
              fingertips.</p>
            <div class="btns">
              <div class="btn-and-link gap-3">
                <button class="startBtn">Clone app</button>
                <div class="d-flex align-items-center gap-2 justify-content-center"><a class="try-link" href=""> Try on
                    your device </a> <img src="..//../assets/arrow.svg" alt="" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="box box3">
          <div class="boxes">
            <h2 class="Explore-temp-active">Personal Finance App</h2>
            <p class="Explore-description">An exploration into a user-friendly app with simplified budgeting, tracking,
              and financial insights.</p>
            <div class="btns">
              <div class="btn-and-link  gap-3">
                <button class="startBtn">Clone app</button>
                <div class="d-flex align-items-center gap-2 justify-content-center"><a class="try-link" href=""> Try on
                    your device </a> <img src="..//../assets/arrow.svg" alt="" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center"
      style="display: flex; flex-direction: column; align-items: center; gap: 152px;">
      <div class="col-md-10">
        <div class="row my-5">
          <div class="col-md-8" style="position: relative;">
            <img src="..//../assets/left-commas.svg" alt="" style="position: absolute; top: -47px;" />
            <div class="card-1">
              <div class="review-card gap-3 align-items-start">
                <img class="person" src="../../assets/image 1409.svg" alt="" />
                <div class="info">
                  <p>“ With Ensemble, we were able to <span class="text-bold"> rapidly develop and iterate on our app
                    </span> without significant involvement from our internal dev team.. ”</p>
                  <h6 class="name">Seth Pelletier</h6>
                  <span class="position">Director, product Management <b>@Ceredian</b></span> <a href=""
                    class="d-flex gap-2 my-4"> <span>Read the full review</span> <img src="../../assets/Icon.svg"
                      alt="" /> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end" style="margin: 92px 0px;">
          <div class="col-md-8" style="position: relative;">
            <div class="card-1">
              <div class="review-card-2 gap-3 align-items-start">
                <div class="info">
                  <p>“ With Ensemble, we were able to <span class="text-bold"> rapidly develop and iterate on our app
                    </span> without significant involvement from our internal dev team.. ”</p>
                  <h6 class="name">Seth Pelletier</h6>
                  <span class="position">Director, product Management <b>@Ceredian</b></span> <a href=""
                    class="d-flex gap-2 my-4"> <span>Read the full review</span> <img src="../../assets/Icon.svg"
                      alt="" /> </a>
                </div>
                <img class="person" src="../../assets/image 1409.svg" alt="" />
              </div>
            </div>
            <img src="..//../assets/right-commas.svg" alt="" style="position: absolute; right: 0; top: -47px;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- custom-widgets -->
  <div class="users">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10" style="position: relative;">
          <div class="title">
            <h1><span>Join over</span> 200k users today</h1>
            <button class="btn my-3">Start building</button>
            <div>
              <ul class="features justify-content-center gap-3 mb-0">
                <li class="d-flex gap-3"><img src="../../assets/vector-tick.svg" alt="" /> <span class="feature">It’s free to try
                    out</span></li>
                <li class="d-flex gap-3"><img src="../../assets/vector-tick.svg" alt="" /> <span class="feature">No credit cards</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="shape-1"><img src="../../assets/Ellipse 445.svg" alt="" /></div>
          <div class="shape-2"><img src="../../assets/Ellipse 446.svg" alt="" /></div>
          <div class="shape-3"><img src="../../assets/Ellipse 444.svg" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="d-flex">
      <ul>
        <li>
         <a href="/">
          <img src="..//../assets/Mask-group.svg" alt="" />
         </a>
        </li>
        <li>About</li>
        <li>Say hi 👋</li>
      </ul>
      <ul class="footer-links">
        <li>Terms and Conditions</li>
        <li>Privacy Policy</li>
        <li>Cookie Policy</li>
        <li>EULA</li>
        <li>© 2023 Ensemble Technologies Inc.</li>
      </ul>
    </div>
  </div>
</footer>
